:root {
    --primary-color: #2f2258ff;
    --secondary-color: #fcc5c5ff;
    --secondary-light-color: #ffecebff;
    --primary-dark-color: #100b1dff;
    --lightest-color: #f5f5f5ff;
    --darkest-color: #070d0eff;
}