body {
    font-family: 'Open Sans';
    background: var(--primary-color);
    color: var(--secondary-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 36px;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

li {
    display: inline-block;
    margin: 0 20px;
}

#secao-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
    gap: 20px;
}

h1.boas-vindas {
    margin-top: 0px;
}

#descricao, #foto-descricao {
    flex: 1;
    width: 50%;
    font-size: 20px;
}

#profile-pic {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.botao {
    text-decoration: none;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    padding: 20px;
}

.botao.active {
    background-color: var(--secondary-light-color);
    color: var(--darkest-color);
    outline: none;
}

.botao:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

a {
    color: var(--secondary-color);
}

.boas-vindas {
    font-size: 36px;
}

p.boas-vindas {
    font-size: 36px;
    color: var(--secondary-light-color);
}

p.texto {
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    user-select: none;
}

.rede-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
    cursor: pointer;
}