body {
    font-family: 'Open Sans';
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

img {
    height: 580px;
}

p {
    line-height: 20px;
    max-width: 500px;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}